
<div id="page-container" class="container-fluid no-gutter">
    <div id="bg-color" class="test left-section" style="background-color: {{ pager.color }};">
        <div class="brand-logo-container">
            <a href="#">
                <img src="/img/brand-logo.png" class="center-block" height="125px"/>
            </a>
        </div>

        <div class="section-description hidden-sm hidden-xs">
            {{ site.sectionPage[0].content }}
        </div>
        <div class="social-media"></div>
        <footer class="hidden-md hidden-sm hidden-xs">
            <div class="footer-container">
                <span class="footer-text">2016 All Rights Reserved</span>
            </div>
        </footer>
    </div>

    <div class="right-section">
        <ul class="slider visible-lg">
            {% for pager in site.sectionPage %}
            <li class="item section-{{ pager.rank }}" data-description="{{ pager.content }}" data-color="{{ pager.color }}" style="background-image: url({{ pager.background-image }});"></li>
            {% endfor %}
        </ul>

        <ul class="slider slider-medium hidden-lg visible-md visible-sm visible-xs">
            {% for pager in site.sectionPage %}
            <li class="item section-{{ pager.rank }}" data-description="{{ pager.content }}" data-color="{{ pager.color }}" style="background-image: url({{ pager.background-medium }});"></li>
            {% endfor %}
        </ul>

        <ul class="slider slider-small hidden-lg hidden-md hidden-sm ">
            {% for pager in site.sectionPage %}
            <li class="item section-{{ pager.rank }}" data-description="{{ pager.content }}" data-color="{{ pager.color }}" style="background-image: url({{ pager.background-small }});"></li>
            {% endfor %}

        </ul>




        <div class="container demo visible-md visible-sm visible-xs">
            <div class="text-center">
                <a class="btn-demo" data-toggle="modal" data-target="#myModal-2">
                    <img class="btn-demo-image" src="/img/modal-icon.png"/>
                </a>
            </div>
            <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-text" style="background-color: {{ pager.color }}">{{ site.sectionPage[0].content }}</div
                        </div>

                    </div>
                    <div class="close-container">
                        <span class="glyphicon glyphicon-remove" data-dismiss="modal"></span>
                    </div>

                </div>
                <!-- modal-dialog -->
            </div>
            <!-- modal -->
        </div>

    </div>
</div>


