
<div id="page-container" class="container-fluid no-gutter">
    <div id="bg-color" class="test left-section" style="background-color: {{ pager.color }};">
        <div class="brand-logo-container">
            <a href="#">
                <img src="/img/brand-logo.png" class="center-block" height="125px"/>
            </a>
        </div>

        <div class="section-description hidden-sm hidden-xs">
            {{ site.sectionPage[0].content }}
        </div>
        <div class="social-media"></div>
        <footer class="hidden-md hidden-sm hidden-xs">
            <div class="footer-container">
                <span class="footer-text">2016 All Rights Reserved</span>
            </div>
        </footer>
    </div>

    <div class="right-section">
        <ul class="slider visible-lg">
            {% assign sorted-slideItem = site.sectionPage | sort: 'rank' %}
            {% for pager in sorted-slideItem limit: 8 %}
            <li class="item section-{{ pager.rank }}" data-description="{{ pager.content }}" data-color="{{ pager.color }}" style="background-image: url({{ pager.background-image }});"></li>
            {% endfor %}

            {% for pager-video in sorted-slideItem | offset: 8 %}
            <li class="item section-{{ pager-video.rank }}" data-description="{{ pager-video.content }}" data-color="{{ pager-video.color }}" style="background-color: {{ pager-video.color }};">
                <div class="container video-container">
                    <video id="video-{{ pager-video.video-id }}" class="video" autoplay controls poster="/img/video-poster/video-cover{{ pager-video.poster-id }}.jpg" style="height: auto; width: 100%;">
                        <source src="https://s3.amazonaws.com/bsi-videos/2016-05-19_BSI-Online-Plug-{{ pager-video.video-id }}-wSubs.mp4" type="video/mp4">
                    </video>
                </div>
            </li>
            {% endfor %}
        </ul>

        <ul class="slider slider-medium hidden-lg visible-md visible-sm visible-xs">
            {% assign sorted-slideItem = site.sectionPage | sort: 'rank' %}
            {% for pager in sorted-slideItem limit: 8 %}
            <li class="item section-{{ pager.rank }}" data-description="{{ pager.content }}" data-color="{{ pager.color }}" style="background-image: url({{ pager.background-medium }});"></li>
            {% endfor %}

            {% for pager-video in sorted-slideItem | offset: 8 %}
            <li class="item section-{{ pager-video.rank }}" data-description="{{ pager-video.content }}" data-color="{{ pager-video.color }}" style="background-color: {{ pager-video.color }};">
                <div class="container video-container">
                    <video id="video-{{ pager-video.video-id }}" class="video" autoplay controls poster="/img/video-poster/video-cover{{ pager-video.poster-id }}.jpg" style="height: auto; width: 100%;">
                        <source src="https://s3.amazonaws.com/bsi-videos/2016-05-19_BSI-Online-Plug-{{ pager-video.video-id }}-wSubs.mp4" type="video/mp4">
                    </video>
                </div>
            </li>
            {% endfor %}
        </ul>

        <ul class="slider slider-small hidden-lg hidden-md hidden-sm ">
            {% assign sorted-slideItem = site.sectionPage | sort: 'rank' %}
            {% for pager in sorted-slideItem limit: 8 %}
            <li class="item section-{{ pager.rank }}" data-description="{{ pager.content }}" data-color="{{ pager.color }}" style="background-image: url({{ pager.background-small }});"></li>
            {% endfor %}

            {% for pager-video in sorted-slideItem | offset: 8 %}
            <li class="item section-{{ pager-video.rank }}" data-description="{{ pager-video.content }}" data-color="{{ pager-video.color }}" style="background-color: {{ pager-video.color }};">
                <div class="container video-container">
                    <video id="video-{{ pager-video.video-id }}" class="video" autoplay controls poster="/img/video-poster/video-cover{{ pager-video.poster-id }}.jpg" style="height: auto; width: 100%;">
                        <source src="https://s3.amazonaws.com/bsi-videos/2016-05-19_BSI-Online-Plug-{{ pager-video.video-id }}-wSubs.mp4" type="video/mp4">
                    </video>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="container demo visible-md visible-sm visible-xs">
            <div class="text-center">
                <a class="btn-demo" data-toggle="modal" data-target="#myModal-2">
                    <img class="btn-demo-image" src="/img/modal-icon.png"/>
                </a>
            </div>
            <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-text" style="background-color: {{ pager.color }}">{{ site.sectionPage[0].content }}</div
                        </div>

                    </div>
                    <div class="close-container">
                        <span class="glyphicon glyphicon-remove" data-dismiss="modal"></span>
                    </div>

                </div>
                <!-- modal-dialog -->
            </div>
            <!-- modal -->
        </div>

    </div>
</div>


