
.no-gutter
  padding-left: 0
  padding-right: 0

.test
  -webkit-transition: all 300ms
  transition: all 300ms
  background-color: #2466ab

body
  font-family: 'Gotham-Light', sans-serif

#page-container
  width: 100%
  position: relative
  .left-section
    height: 100vh
    position: relative
    width: 300px
    float: left
    .brand-logo-container
      img
        margin-top: 50px
    .section-description
      position: relative
      top: 50%
      transform: translateY(-50%)
      color: white
      width: 90%
      margin: -200px auto 0
      h3
        line-height: 30px
        margin-bottom: 20px
      span
        display: block
        font-size: 19px
        text-transform: uppercase
      p
        line-height: 30px
      font-size: 17px
  .right-section
    height: 100vh
    left: 0
    position: relative
    overflow: hidden
    .slider
      height: inherit
      padding-left: 0
      list-style: none
      .owl-stage-outer
        height: inherit
        .owl-stage
          height: inherit
          .owl-item
            height: inherit
            .item
              height: inherit
              background-color: #ea1639
              background-size: cover
              &.section-5,&.section-7
                background-position: right
              &.section-1,&.section-2,&.section-3, &.section-4,&.section-6
                background-position: center
              .embed-container
                position: relative
                padding-bottom: 56.25%
                height: 0
                overflow: hidden
                max-width: 100%
                iframe, object, embed
                  position: absolute
                  top: 0
                  left: 0
                  right: 0
                  margin-left: auto
                  margin-right: auto
                  width: 100%
                  height: 100%

.close-container
  position: absolute
  top: 15px
  right: 15px
  span
    display: block
    color: white
    font-size: 24px

.owl-controls
  position: absolute
  left: 2%
  bottom: 2%
  .owl-nav
    .owl-prev
      display: inline-block
      img
        height: 60px
        margin-right: 15px
    .owl-next
      display: inline-block
      img
        height: 60px

footer
  position: absolute
  bottom: 0
  width: 90%
  margin: 0 auto
  left: 0
  right: 0
  .footer-container
    position: relative
    .footer-text
      display: block
      color: white
      padding: 10px 0

@media (min-width: 1441px)


@media (max-width: 991px)
  #page-container
    min-height: 100vh
    height: 100vh
    max-height: 100vh
    .left-section
      width: 100%
      height: auto
      max-height: 16vh
      min-height: 16vh
      .brand-logo-container
        img
          margin: 30px auto
          height: 100px
    .right-section
      min-height: 84vh
      max-height: 84vh
      float: left
      width: 100%
      height: 100%

@media (max-width: $screen-sm-max)


@media (max-width: $screen-sm-max) and (orientation: landscape)
  #page-container
    .left-section
      max-height: 17vh
      min-height: 17vh
      .brand-logo-container
        img
          margin: 20px auto
          height: 60px




@media (max-width: $screen-xs-max)
  #page-container
    .left-section
      .brand-logo-container
        img
          margin: 30px auto
          height: 75px

@media (max-width: 568px)
  #page-container
    .right-section
      .slider-medium
        display: none !important
  #page-container
    .right-section
      .slider-small
        display: block
                          
  .modal.fade
    .modal-dialog
      top: 22%



@media (max-width: $screen-xs)
  #page-container
    .left-section
      max-height: 17vh
      min-height: 17vh
      .brand-logo-container
        img
          margin: 20px auto
          height: 50px



//Animation
@keyframes fadeInUp
  from
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)

  to
    opacity: 1
    -webkit-transform: none
    transform: none

@-webkit-keyframes slideInUp
  from
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@-webkit-keyframes fadeIn
  from
    opacity: 0


  to
    opacity: 1

